@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E6ECF0;
}

li,
a,
button {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: rgba(0, 0, 0, 0.65);
}

.logo {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.background-white {
  background-color: #fff;
}

/* 
  Nav bar
*/

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0;
}

.nav-links li a {
  color: #edf0f1;
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover,
.nav-links-selected {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #f1f1f1;
  transition: none;
}

/* 
  Banner from Home page
*/

div.banner {
  height: 550px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);

  display: flex;
  justify-content: space-between;
  overflow: auto;
}

div.banner img {
  width: 780px;
}

div div.main-section {
  margin: 50px 0 0 10%;
  color: #fff;

  display: flex;
  flex-direction: column;
}

div div.main-section h1 {
  font-size: 38px;
}

div div.main-section p {
  margin-top: 20px;
}

div div.main-section p strong {
  font-size: 18px;
}

/* Professor area */

div.professor-area {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 10% 10% 0;
}

.title {
  margin: 50px;
  font-size: 38px;
  text-align: center;
}

div.professor-area img {
  margin-right: 30px;
  margin-left: 10%;
  width: 300px;
  height: 300px;
  border: 2px solid #333;
  border-radius: 175px;
}

div.professor-area p {
  margin-top: 50px;
  margin-right: 10%;
  color: rgba(2, 2, 2, 0.678);
  font-family: 'Roboto Mono', monospace;
}

/* Our objectives area */

div.objectives {
  display: flex;
  height: 550px;
  width: 100%;
  flex-direction: column;
}

div.objectives ul {
  margin-left: 10%;
  list-style: none;

  display: flex;
  flex-direction: column;
}

div.objectives ul li {
  margin-right: 10%;
  display: flex;
  align-items: center;
  color: #000;
}

div.objectives ul li img {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 175px;
}

/* About Work */

div.about-work {
  height: 400px;
}

div.about-work p {
  margin-left: 10%;
}

div.about-work ul {
  margin-left: 15%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

div.about-work ul li {
  font-weight: 100;
  color: #000;
}